{% extends 'layout/base_layout.html' %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend or 'New Post' }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
    <script>
         CKEDITOR.plugins.addExternal('colorbutton', '{{ url_for('static', filename='js/ckeditor/plugins/colorbutton/') }}');
         CKEDITOR.plugins.addExternal('floatpanel', '{{ url_for('static', filename='js/ckeditor/plugins/floatpanel/') }}');
         CKEDITOR.plugins.addExternal('panelbutton', '{{ url_for('static', filename='js/ckeditor/plugins/panelbutton/') }}');
         CKEDITOR.plugins.addExternal('panel', '{{ url_for('static', filename='js/ckeditor/plugins/panel/') }}');
         CKEDITOR.plugins.addExternal('autogrow', '{{ url_for('static', filename='js/ckeditor/plugins/autogrow/') }}');
         CKEDITOR.replace( 'content', {
             extraPlugins: 'colorbutton,autogrow',
             autoGrow_minHeight: 200,
             autoGrow_maxHeight: 600,
             autoGrow_onStartup: true,
             autoGrow_bottomSpace: 20,
             removeButtons: 'About'
         })
    </script>
{% endblock %}